body{
    font-family: 'Raleway', sans-serif;
    color: indianred;
    width: 50%;
    padding-left: 25%;
}
.text-align-centre{
    text-align: center;
}
.font-normal{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}
.font-accent{
    font-size: 46px;
    font-family: 'Unbounded', cursive;
}